**/build/**
.DS_Store
modules/waku/lib/libwaku.so
modules/waku_module/lib/libwaku.so
modules/wallet_module/lib/*
.vscode/**
**/node_modules/**
.docusaurus
website/.docusaurus
website/build
website/.cache
website/node_modules
examples/node_app_using_lib/plugins/*
logos-js-sdk/lib/*
.cache
logos-cpp-sdk/cpp/generated/*
