[submodule "logos-cpp-sdk"]
	path = logos-cpp-sdk
	url = git@github.com:logos-co/logos-cpp-sdk.git
[submodule "logos-liblogos"]
	path = logos-liblogos
	url = git@github.com:logos-co/logos-liblogos.git
[submodule "modules/simple_module"]
	path = modules/simple_module
	url = git@github.com:logos-co/logos-simple-module.git
	branch = master
[submodule "logos-js-sdk"]
	path = logos-js-sdk
	url = git@github.com:logos-co/logos-js-sdk.git
[submodule "logos-nim-sdk"]
	path = logos-nim-sdk
	url = git@github.com:logos-co/logos-nim-sdk.git
[submodule "modules/wallet_module"]
	path = modules/wallet_module
	url = git@github.com:logos-co/logos-wallet-module.git
[submodule "modules/waku_module"]
	path = modules/waku_module
	url = git@github.com:logos-co/logos-waku-module.git
[submodule "modules/chat"]
	path = modules/chat
	url = git@github.com:logos-co/logos-chat-module.git
[submodule "modules/logos_irc"]
	path = modules/logos_irc
	url = git@github.com:logos-co/logos-irc-module.git
